* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* fonts setup */
    --ff: "Rubik", sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;
    --fw-black: 900;

    /* colors */

    --color-blue-dark: #09073b;
    --color-orange-full: #FF4C33;
    --color-orange-medium: #f67766;
    --color-natural: #D7E8BC;
    --color-gray-bright: #ccc;
    --color-gray-medium: #ababab;
    --color-gray-dark: #646464;
    --color-gray-dark2: #4e4e4e;
    --color-white: #fff;
    --color-black: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-white);
    font-family: var(--ff);
}

h2 {
    font-weight: var(--fw-regular);
    font-size: 2rem;
}

/* site grid setup */
.site-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

/* start > header section */
.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: right;
}

.dark {
    z-index: 2;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    appearance: none;
}

.dark-box {
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #000;
    width: 50px;
    height: 25px;
    background: #fff;
    border-radius: 30px;
}

.dark:before {
    content: "☀️";
    position: absolute;
    top: -2px;
    left: 0;
    width: 15px;
    height: 15px;
    transition: transform .5s;
}

.dark:checked:before {
    content: "🌙";
    width: 10px;
    height: 10px;
    transform: translateX(20px);
}

.dark:checked~* {
    .dark-box {
        background: var(--color-black);
    }

    .main-nav {
        background-color: var(--color-black);
    }

    .main-section,
    .services-section,
    .projects-list,
    .projects-list .card,
    .contact-form {
        background-color: var(--color-black);
        color: var(--color-white);
    }

    .services-section h2 {
        color: var(--color-orange-full);
    }

    .services-section p {
        color: var(--color-white);
    }

    .site-footer,
    .site-footer a,
    .site-footer p {
        background-color: var(--color-gray-medium);
        color: var(--color-black);
    }
}

.main-nav {
    max-width: 1440px;
    position: fixed;
    background-color: var(--color-orange-full);

    ul {
        display: flex;
        gap: 2em;
    }

    ul li {
        list-style: none;

        a {
            display: block;
            padding: 1.2em;
            text-decoration: none;
            color: var(--color-white);
            font-weight: var(--fw-regular);
        }
    }

    a:hover,
    a:focus {
        text-decoration: underline;
        background-color: var(--color-natural);
        color: var(--color-blue-dark);
    }
}

/* start > main section*/
.main-section {
    color: var(--color-gray-dark2);
    display: flex;
    margin-top: 6em;
    padding-left: 2em;
}

.small-title {
    font-size: 1.5rem;
}

.item1 {
    align-content: center;

    h1 {
        font-weight: var(--fw-medium);
        font-size: clamp(1.3rem, calc(5vw + 1rem), 7rem);
        line-height: 0.9;
        margin-top: 0.8rem;
    }
}

.main-section p {
    font-size: 1.1rem;
    margin: 2em 0;
}

.item2 {
    img {
        max-width: 100%;
    }
}

.letter-color {
    color: var(--color-orange-full);
}

@media (width < 715px) {
    .main-section {
        flex-direction: column;
    }

    .main-section p {
        font-size: 0.75em;
    }
}

/* start > services section*/
.services-section {
    display: flex;
    flex-direction: row;
    background-color: var(--color-gray-bright);
    padding: 4em 2em;
    gap: 1em;
}

.program-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

    img {
        width: clamp(30px, calc(5vw + 1rem), 60px);
        align-content: center;
    }
}

@media (width < 720px) {
    .services-section {
        flex-direction: column;
        padding: 2em 1em;
    }

    .project-text p {
        font-size: 0.75rem;
    }
}

/* start > projects section*/
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: stretch;
    padding: 2em;
}

.project-text {
    padding: 1rem;
    color: var(--color-blue-dark);

    h2 {
        text-transform: capitalize;
    }

    span {
        color: var(--color-orange-full);
        font-weight: var(--fw-extra-bold);
    }

    p {
        margin: 0.5em 0;
    }
}

.card {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-dark);
    border-radius: 0.5rem;
    overflow: hidden;
    display: grid;
}

.card-image {
    overflow: hidden;
}

.card-image>img {
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.card:hover>.card-image>img {
    transform: scale(1.075);
}

.card-header {
    font-size: 1.5em;
    padding: 0.5rem 1rem;
}

.card p {
    font-size: 1rem;
    padding: 0 1rem;
}

.pro-icons {
    padding: 0 1rem;
}

.pro-icons img {
    width: 30px;
}

.card-footer {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    gap: 1rem;
}

.card-btn {
    background-color: var(--color-orange-full);
    border: 1px solid var(--color-orange-full);
    color: var(--color-white);
    border: none;
    text-decoration: none;
    font-size: 0.75rem;
    padding: 1em;
    line-height: 1.5em;
    align-items: center;
    border-radius: 0.5em;
    cursor: pointer;
    display: block;
    max-width: 130px;
}

.card-footer a:nth-child(2) {
    background-color: var(--color-blue-dark);
    border: 1px solid var(--color-blue-dark);
}

.card-footer a:nth-child(2):hover,
.card-footer a:nth-child(2):focus {

    color: var(--color-orange-full);
}

.card-btn:hover,
.card-btn:focus {
    background: none;
    border: 1px solid var(--color-orange-full);
    color: var(--color-blue-dark);
}

.filters:has(option[value="Html-Css"]:checked)~.project:not(:has(> .pro-html-css)) {
    display: none;
}

.filters:has(option[value="JavaScript"]:checked)~.project:not(:has(> .pro-java)) {
    display: none;
}

.filters:has(option[value="Design"]:checked)~.project:not(:has(> .pro-design)) {
    display: none;
}

/* start > contact form section*/

.contact-form {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: var(--color-gray-bright);


    @media (width > 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

.contact-form-group {
    display: grid;
    gap: 0.5rem;
}

.contact-form input {
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1rem;
}

.contact-form button {
    justify-self: start;
    padding: 1.2em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--color-orange-full);
    cursor: pointer;
}

.contact-form button:hover,
.contact-form button:focus {
    background: var(--color-white);
    border: 1px solid var(--color-orange-full);
    color: var(--color-blue-dark);
}

/* start > footer section*/
.site-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blue-dark);
    padding: 2em;

    ul {
        display: flex;
        flex-direction: row;
    }

    ul li {
        list-style: none;

        a {
            display: block;
            padding: 0.5em;
            text-decoration: none;
            color: var(--color-white);
            font-size: 0.75em;
            font-weight: var(--fw-regular);
        }
    }

    a:hover,
    a:focus {
        text-decoration: underline;
    }

    p {
        color: var(--color-white);
        font-size: 0.75em;
    }

    @media (width < 720px) {
        flex-direction: column;
    }
}

/* start > back to top button*/
.back-to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-orange-full);
    position: fixed;
    right: 50px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: var(--color-gray-bright);
        font-size: 1.5rem;
        text-decoration: none;
    }

    @media (width < 450px) {
        display: none;
    }
}

.back-to-top:hover a,
.back-to-top:focus a {
    color: var(--color-gray-dark);
}